@use 'util' as util;

:root {
	--color-white: #fffdfa;
	--color-black: #000;
	--color-blue: #00001a;
	--color-grey: #5e607a;
	--color-red: #f15d51;
	--color-light-grey: #c5c6ce;
	--color-yellow: #e9aa52;
	--font-xl: #{clamp(
			2.5rem,
			2.147887323943662rem + 1.5023474178403755vw,
			3.5rem
		)}; //56px, 40px
	--font-l: #{clamp(2rem, 1.823943661971831rem + 0.7511737089201878vw, 2.5rem)}; //40px, 32px
	--font-m: 2rem;
	--font-s: 1.25rem;
	--font-xs: 1.125rem;
	--font-body: 0.9375rem;
}

html {
	font-size: 100%;
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	margin: 0;
	height: 100vh;
	font-size: var(--font-body);
	font-family: 'Inter', sans-serif;
	line-height: 1.7;
	color: var(--color-grey);
}

img {
	display: block;
	width: 100%;
	height: auto;
}

ul {
	margin: 0;
	padding: 0;
}

li {
	list-style-type: none;
}

h1,
h2,
h3 {
	line-height: 1.1;
	color: var(--color-blue);
}

h1,
h2,
h3,
p {
	margin: 0;
}

a {
	text-decoration: none;
}

.wrapper {
	width: min(1110px, calc(100% - 2rem));
	margin-inline: auto;
}

.grid {
	display: grid;
	gap: 4rem;

	@media (width >= 1110px) {
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: 300px auto auto;
	}
}
