@use '../util' as util;

.header {
	padding-block: 1.875rem;
	display: flex;
	justify-content: space-between;

	@media (width>=1110px) {
		padding-block: 5.625rem 3.4375rem;
	}

	&__logo {
		width: 2.8125rem;

		@media (width>=1110px) {
			width: 4rem;
		}
	}

	&__links {
		display: flex;
		gap: 1.5rem;

		@media (max-width: 1099px) {
			flex-direction: column;
		}
	}

	&__link {
		color: var(--color-blue);
		font-size: 1.125rem;
		line-height: 1.3;

		@media (min-width: 1110px) {
			font-size: var(--font-body);
			color: var(--color-grey);
		}

		&:hover {
			color: var(--color-red);
		}
	}
}
